@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./const.css");

*,
::before,
::after {
  @apply box-border;
}
html {
  @apply scroll-smooth;
}

.change-theme {
  @apply absolute 
  right-4 
  top-[1.8rem] 
  text-[var(--text-color)]
  text-[1rem]
  cursor-pointer;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  @apply mt-[var(--header-height)] mx-0 mb-0
  bg-[var(--body-color)]
  text-[var(--text-color)]
  leading-[1.6];
}

h1,
h2,
h3,
p,
ul {
  @apply m-0;
}

ul {
  list-style: none;
  @apply p-0;
}

a {
  text-decoration: none;
}

img {
  @apply h-auto max-w-full;
}
.image {
  @apply h-auto max-w-full;
}

/* class css */

.section {
  @apply px-0 pt-16 pb-8;
}

.section-title,
.section-subtitle {
  @apply text-center;
}

.section-title {
  font-size: var(--h1-font-size);
  text-shadow: var(--text-shadow);
  @apply text-[var(--title-color)]
  font-[--font-bold]
  mb-[var(--mb-3)];
}

.section-subtitle {
  font-weight: var(--font-medium);
  @apply block text-[var(--first-color)]
  mb-[var(--mb-1)];
}

.bd-container {
  @apply max-w-[960px]
  w-[calc(100%-2rem)]
  ml-[var(--mb-2)]
  mr-[var(--mb-2)];
}

.bd-grid {
  @apply grid gap-6 justify-center;
}

.l-header {
  @apply w-full fixed
  top-0 left-0
  z-[var(--z-fixed)]
  bg-[var(--body-color)];
}

.nav {
  @apply max-w-[1024px]
  h-[var(--header-height)]
  flex
  justify-between
  items-center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    transition: 0.4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    @apply fixed
    -top-full
    left-0
    w-full
    px-0 pt-6 pb-4
    text-center
    bg-[var(--body-color)]
    z-[var(--z-fixed)];
  }
}

.nav__item {
  @apply mb-[var(--mb-2)];
}

.nav__link,
.nav__toggle {
  @apply text-[var(--text-color)]
  font-[var(--font-medium)];
}

.nav__logo {
  font-size: var(--big-font-size);
  text-shadow: var(--text-shadow);
  @apply text-[var(--text-color)]
  mb-[var(--mb-1)]
  font-[700]
  hover:text-[var(--first-color)];
}

.nav__logo__span {
  @apply text-[var(--first-color)]
  hover:text-[var(--text-color)];
}

.nav__link {
  transition: 0.3s;
  @apply hover:text-[var(--first-color)];
}

.nav__toggle {
  @apply text-[1.3rem] cursor-pointer;
}

.show-menu {
  @apply top-[var(--header-height)];
}

.active-link {
  @apply text-[var(--first-color)];
}

.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scrolltop {
  background: rgb(168 99 2/52%);
  border-radius: 0.4rem;
  transition: 0.4s;
  @apply fixed
  right-4
  -bottom-[20%]
  flex
  justify-center
  items-center
  p-[.3rem]
  z-[var(--z-tooltip)]
  invisible
  hover:bg-[var(--first-color-alt)];
}

.scrolltop__icon {
  @apply text-[1.8rem]
  text-[var(--body-color)];
}

.show-scroll {
  @apply visible bottom-6;
}

.home__container {
  @apply h-[calc(100vh-var(--header-height))]
  content-center;
}

.home__title {
  font-size: var(--biggest-font-size);
  text-shadow: var(--text-shadow);
  @apply text-[var(--first-color)]
  mb-[var(--mb-1)]
  font-[var(--font-bold)];
}

.home__subtitle {
  @apply text-[var(--title-color)]
  text-[calc(var(--h1-font-size)-.4rem)]
  mb-[var(--mb-4)];
}

.home__img {
  @apply w-[300px]
  justify-self-center;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  box-shadow: var(--box-shadow);
}

.about__data {
  @apply text-center;
}

.about__description {
  @apply mb-[var(--mb-3)];
}

.about__img {
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  @apply w-[280px]
  justify-self-center;
}

.menu__content {
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  @apply relative flex
  flex-col
  bg-[(var--container-color)]
  p-3;
}

.menu__img {
  @apply w-[100px]
  self-center
  mb-[var(--mb-2)];
}

.menu__name,
.menu__preci {
  font-weight: var(--font-semi-bold);
  @apply text-[var(--title-color)];
}

.menu__name {
  font-size: var(--normal-font-size);
}

.menu__detail,
.menu__preci {
  font-size: var(--small-font-size);
  @apply pb-[1.9rem];
}

.menu__detail {
  @apply mb-[var(--mb-1)];
}

.menu__button {
  border-radius: 0.5rem 0 0.5rem 0;
  @apply absolute
  bottom-0 right-0
  flex
  py-[.625rem] px-[.813rem];
}

.contact__container {
  @apply text-center;
}

.contact__description {
  @apply mb-[var(--mb-3)];
}

.footer__container {
  @apply grid-cols-[repeat(auto-fit,minmax(220px,1fr))]
  gap-y-8;
}

.footer__logo {
  font-size: var(--h3-font-size);
  @apply text-[var(--first-color)]
  font-[var(--font-semi-bold)];
}

.footer__description {
  @apply block
  mx-0 mt-1 mb-[var(--mb-3)];
}

.footer__social {
  @apply text-[var(--title-color)]
  text-[1.5rem]
  mr-[var(--mb-2)];
}

.footer__title {
  font-size: var(--h2-font-size);
  @apply text-[var(--title-color)]
  mb-[var(--mb-2)];
}

.footer__link {
  @apply hover:text-[var(--first-color)]
  inline-block 
  text-[var(--text-color)]
  mb-[var(--mb-1)];
}

.footer__copy {
  font-size: var(--small-font-size);
  @apply text-center
  text-[var(--text-color-light)]
  mt-14;
}

@media screen and (min-width: 576px) {
  .home__container,
  .about__container {
    @apply items-center grid-cols-[repeat(2,1fr)];
  }

  .about__data,
  .about__initial,
  .contact__container,
  .contact__initial {
    text-align: initial;
  }

  .about__img {
    @apply -order-1 w-[380px];
  }

  .contact__container {
    grid-template-columns: 1.75fr 1fr;
    @apply items-center;
  }

  .contact__button {
    @apply justify-center;
  }
}

@media screen and (min-width: 768px) {
  body {
    @apply m-0;
  }

  .section {
    @apply pt-32;
  }

  .nav {
    @apply h-[calc(var(--header-height)+1.5rem)];
  }

  .nav__list {
    @apply flex;
  }

  .nav__item {
    @apply mb-0 ml-[var(--mb-5)];
  }

  .nav__toggle {
    @apply hidden;
  }

  .change-theme {
    position: initial;
    @apply ml-[var(--mb-2)];
  }

  .home__container {
    @apply h-[100vh]
    justify-center;
  }

  .menu__container {
    @apply mt-[var(--mb-6)]
    grid-cols-[repeat(3,210px)]
    gap-x-16;
  }

  .menu__content {
    @apply p-6;
  }

  .menu__img {
    @apply w-[130px];
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    @apply ml-auto mr-auto;
  }

  .home__img {
    @apply w-[500px];
  }

  .about__container {
    @apply gap-x-28;
  }
}

@media screen and (min-height: 721px) {
  .home__container {
    @apply h-[640px];
  }
}
